@import "$lib/styles/reset.css";
@import "$lib/styles/forms.css";
/* @import '$lib/styles/vsdark.css'; */

:root {
  --header-height: 4rem;
  --sidebar-width: 100%;
  --border: 1px solid #ccc;
  --max-width: 960px;
}
html {
  scroll-behavior: smooth;
  /* scroll-padding-top: var(--header-height); */
}
a {
  color: inherit;

  &:not(:hover),
  &:active {
    text-decoration: none;
  }
}

.form_control {
  .label { font-size: 0.8em; }
  label { font-size: 0.8em; }
  pre { margin-top: 0 }
}
h4 { margin-bottom: 0 }
ul, ol { margin-top: 0 }